* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v100_4280 {
  width: 360px;
  height: 2732px;
  background: rgba(255,255,255,1);
  margin: 49px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
